.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
  
  .close-button {
    font-size: 16px;
    cursor: pointer;
    border-radius:100%;
    padding: 7px;
    height: fit-content;
  }
  
  .apply-button {
    background: #3d97ec;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }